{% extends 'events/base.html' %}
{% load static %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<main>
    <section class="event-detail">
        <div class="event-detail-header">
            <div class="event-detail-image">
                {% if event.image %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}">
                {% else %}
                    <div class="no-image-placeholder">Нет изображения</div>

                {% endif %}
            </div>
            
            <div class="event-detail-info">
                <span class="event-category">{{ event.get_category_display }}</span>
                <h1>{{ event.title }}</h1>
                
                <div class="event-detail-meta">
                   <p><strong>Дата:</strong> 
    {% if event.date_end %}
        {{ event.date|date:"d.m.Y" }} - {{ event.date_end|date:"d.m.Y" }}
        {% if event.date|date:"H:i" == event.date_end|date:"H:i" %}
            {{ event.date|date:"H:i" }}
        {% endif %}
    {% else %}
        {{ event.get_date_display }}
    {% endif %}
</p>
                    <p><strong>Место:</strong> {{ event.venue }}</p>
                    <p><strong>Адрес:</strong> {{ event.address }}</p>
                    {% if event.participants %}
                    <p><strong>Участники:</strong> {{ event.participants }}</p>
                    {% endif %}
                </div>
                
                <div class="event-detail-price">
                    {{ event.get_price_display }}
                </div>
                
                <a href="{% url 'purchase_ticket' event.id %}" class="btn-buy" style="width: 100%;">Купить билет</a>
            </div>
        </div>
        
        <div class="event-detail-description">
            <h3>О событии</h3>
            <p>{{ event.description|linebreaks }}</p>
        </div>
        
       <div class="how-to-get">
    <h3>Как добраться</h3>
    <p><strong>Адрес:</strong> {{ event.address }}</p>
    <p><strong>Как проехать:</strong> Остановка «Драмтеатр» (автобусы 1, 5, 15, 45).</p>
</div>
    </section>
</main>
{% endblock %}